.educationOutput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schoolOutput {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.schoolDate {
  display: flex;
}

.schoolList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.school {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.school .infoElement:nth-last-of-type(-n + 2) {
  /* color: red; */
  /* display: inline-table; */
}
