/* STYLE INPUT */

h3 {
  border-bottom: #4c4c4c solid 2px;
}

/* ////////////////////////////////////// */
/* STYLE OUPUT */
.educationOutput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.schoolOutput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}

.schoolUnit {
  display: flex;
  justify-content: space-between;
}

.schoolLeftPart {
  display: flex;
  flex-direction: column;
}

.schoolRightPart {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.schoolDate {
  display: flex;
}
