.inputSection {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 1.5rem;
}
.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  filter: drop-shadow(5px 5px 5px #858585);
  border-radius: 14px;
  padding: 1rem;
}

.infoElement {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.inputSection input {
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: #e5e5e5;
  padding: 5px;
  line-height: 1.5rem;
}

input:focus {
  outline: #3e8bff solid 2px;
}

.inputLabel {
  font-weight: 600;
}

.outputButtons {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  color: #0d163a;
  /* padding-left: 0.5rem; */
}

.printBtn {
  width: 2.8rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  outline: #0d163a solid 2px;
}

.githubLink {
  display: flex;
  justify-content: center;
  align-items: start;
}

.githubLink img {
  width: 2.6rem;
}

.githubLink a {
  display: flex;
}
