* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding: 2rem;
  background-color: #dadada;
}
.wrapper {
  width: 100%;
  justify-content: center;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.outputSection {
  /* min-height: 100vh; */
  height: fit-content;
  background-color: white;
  filter: drop-shadow(5px 5px 5px #858585);

  position: sticky;
  top: 1rem;
  /* align-self: start; */

  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  /* width: 100%; */

  padding-bottom: 2rem;
}

@media print {
  .outputSection {
    box-shadow: none !important;
    filter: none !important;
    margin: 0;
    padding: 0;
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

button {
  width: 3rem;
  height: 2.6rem;
  border-radius: 5px;
  background-color: #cacaca;
  border: none;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
  filter: invert(1);
}

.detailedInfoOutput {
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 90%;
}

@media screen and (max-width: 500px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}
