* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding: 2rem;
  padding-bottom: 0;
  background-color: #dadada;
  display: grid;
  grid-template-rows: 1fr 2rem;
}
.wrapper {
  width: 100%;
  justify-content: center;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.outputSection {
  /* min-height: 100vh; */
  height: fit-content;
  background-color: white;
  filter: drop-shadow(5px 5px 5px #858585);

  position: sticky;
  top: 1rem;
  /* align-self: start; */

  display: grid;
  grid-template-rows: 1fr 6fr;
  justify-content: center;
  justify-items: center;
  width: 100%;

  padding-bottom: 2rem;
}

@media print {
  .outputSection {
    box-shadow: none !important;
    filter: none !important;
    margin: 0;
    padding: 0;
  }
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background-color: #cacaca;
  border: none;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
  filter: invert(1);
}

.detailedInfoOutput {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 90%;
}
/* 
.myLink {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 5px;
}

.githubLogo {
  width: 1rem;
}

.myLink a {
  font-size: 0.9rem;
  color: #013057;
  display: flex;
  align-items: center;
  gap: 2px;
}

a:hover {
  cursor: pointer;
} */
