* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding: 2rem;
  background-color: #dadada;
}
.wrapper {
  width: 100%;
  justify-content: center;
  gap: 2rem;

  display: grid;
  grid-template-columns: 1fr 2fr;
}

.inputSection {
  /* width: 10%; */
}
.outputSection {
  height: 100vh;
  background-color: white;
  filter: drop-shadow(5px 5px 5px #858585);
}

button {
  width: 50px;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  filter: invert();
}

.detailedInfoOutput {
  padding: 20px;
}
